<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1> 
    </header>
    
    <!-- search form -->
    <form action="/" method="POST">
      <h2>Filter Results</h2>
      <div id="inputs">
        <label for="firstname">First Name</label>
        <input type="text" placeholder="First Name" name="firstname">
        <label for="lastname">Last Name</label>
        <input type="text" placeholder="Last Name" name="lastname">
        <input type="submit" name="search" value="Search">
      </div>
    </form>

    <!-- table view for results -->

      <% if (students) { %>
        <table class="students">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>GPA</th>
          </tr>
        <% for(var i=0; i<students.length; i++) {%>
        <tr class="student">
          <td><%= students[i].students.first %></td>
          <td><%= students[i].students.last %></td>
          <td><%= gpa(students[i].students.studentClasses) %></td>
        </tr>
        <% } %>
        </table>
      <% } else { %>
        <p>No student matches found</p>
      <% } %>

    <nav>
      <a href='/'>Reset Filters</a>
    </nav>

    <!-- function to calculate GPA -->

    <% function gpa(array){
      var grades = 0;
      for(var j=0; j<array.length; j++){
        grades += array[j].grade;
      }
      var gpa = grades/array.length;
      return gpa.toFixed(2)
    } %>
  </body>
</html>
